@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.woff?v=2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\1f3e0";
}

.icon-live:before {
    content: "\1f4e1";
}

.icon-prematch:before {
    content: "\1f3c6";
}

.icon-sportsbook-ex:before {
    content: "\1f3c7";
}

.icon-casino:before {
    content: "\1f3b0";
}

.icon-live-casino:before {
    content: "\1f0d0";
}

.icon-horse-racing:before {
    content: "\1f3c8";
}

.icon-star-o:before {
    content: "\2605";
}

.icon-star:before {
    content: "\2b50";
}

.icon-top:before {
    content: "\1f3b1";
}

.icon-all:before {
    content: "\1f5c3";
}

.icon-instant:before {
    content: "\1fa84";
}

.icon-virtual:before {
    content: "\1fa96";
}

.icon-lottery:before {
    content: "\1f451";
}

.icon-crash:before {
    content: "\1f680";
}

.icon-table:before {
    content: "\1f3b2";
}

.icon-bingo:before {
    content: "\1f6f0";
}

.icon-livegames:before {
    content: "\1f409";
}

.icon-slot:before {
    content: "\1f352";
}

.icon-new:before {
    content: "\1f48e";
}

.icon-favorites:before {
    content: "\e123";
}

.icon-popular:before {
    content: "\1f525";
}

.icon-roulette:before {
    content: "\f631";
}

.icon-blackjack:before {
    content: "\1f0cf";
}

.icon-poker:before {
    content: "\e900";
}

.icon-baccarat:before {
    content: "\e3ec";
}

.icon-videopoker:before {
    content: "\e3ed";
}

.icon-soccer:before {
    content: "\26bd";
}

.icon-basketball:before {
    content: "\e902";
}

.icon-basket:before {
    content: "\1f3c0";
}

.icon-tennis:before {
    content: "\1f3be";
}

.icon-volleyball:before {
    content: "\1f3d0";
}

.icon-football:before {
    content: "\1f3c9";
}

.icon-amfootball:before {
    content: "\1f3ca";
}

.icon-hockey:before {
    content: "\1f3d2";
}

.icon-ice-hockey:before {
    content: "\1f3d1";
}

.icon-baseball:before {
    content: "\26be";
}

.icon-boxing:before {
    content: "\1f94a";
}

.icon-mma:before {
    content: "\1f94b";
}

.icon-esports:before {
    content: "\1f3ae";
}

.icon-balance:before {
    content: "\1f4b0";
}

.icon-new-window:before {
    content: "\1f4bb";
}

.icon-fullscreen:before {
    content: "\1f5a5";
}

.icon-reload:before {
    content: "\1f504";
}

.icon-u1F6C1:before {
    content: "\1f6c1";
}

.icon-u1F6CC:before {
    content: "\1f6cc";
}